
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<header class="b-header clearfix">
    <a href="{%url 'maps:index'%}" class="logo">
        <!--<img src="img/logo_small.png" alt="Night City" title="Night City"> -->
        <span>Challenge Map</span> </a>
    <a class="weather" href="#"> <img width="35" height="35" src="/static/img/rain-xxl.png" alt="Weather"> <span>+ 24° C</span> </a>
    <div class="b-header__ctrl">
    <div class="b-header__ctrl__item"> <a href="Add-Place.html" class="btn btn--black"><i class="fa fa-plus-square" aria-hidden="true"></i><span>Discover the world</span></a> </div>

    <div class="b-header__ctrl__item"> <a href="#" class="btn btn--black"><i class="fa fa-plus-square" aria-hidden="true"></i><span>My Challenges</span></a> </div>
        {% if user and not user.is_anonymous %}
        <div class="b-header__ctrl__item">
            <a href="{% url 'auth:logout' %}?next={{ request.path }}" class="ab-item login">Logout</a>
            {% else %}
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="ab-item login"> <i class="fa fa-unlock-alt" aria-hidden="true"></i><span>Login FB</span>
            </a>
        </div>
        {% endif %}
    <div class="b-header__ctrl__item">
    <!--<form class="searchbox">-->
    <!--<input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();">-->
    <!--<button type="submit" class="searchbox-submit"><i class="fa fa-search" aria-hidden="true"></i>-->
    <!--</button> <span class="searchbox-icon"><i class="fa fa-search" aria-hidden="true"></i></span> </form>-->
    </div>
    </div>

    <div class="b-nav-toggle closed"><img src="/static/img/mobile-logo.png" alt="logo" width="142" height="28"><i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <nav class="b-nav fadein">
    <ul>
    <li> <a href="Gallery.html"><i class="fa fa-camera" aria-hidden="true"></i>Gallery</a> </li>
    <li class="menu-item-has-children"> <a href="#"><i class="fa fa-mobile" aria-hidden="true"></i>Apps</a>
    <ul>
    <li><a href="Single-Post_Standart.html">iPhone</a>
    </li>
    <li><a href="#">Android</a>
    </li>
    </ul>
    </li>
    <li> <a href="Single-Post_Standart.html"><i class="fa fa-question-circle" aria-hidden="true"></i>Help</a> </li>
    </ul>
    </nav>

    </header>
<div class="b-preloader animated yt-loader">
    <div class="b-preloader__decor"></div>
</div>

<div class="b-main-container" id="content">
    </div>
    <section class="b-pic b-pic--place lazy b-parallax" data-type="background" data-speed="8"
             data-src="{{ challenge.photo.url }}">
        <div class="b-placeholder place-hold"></div>
        <div class="container b-pic-hgroup lazy-cont">
            <h1 class="b-pic__title">{{ challenge.address }}</h1>
            <h6 class="b-pic__sub-title">Restaurant Italian Food
                <span class="rating">
<span class="gold">★</span><span class="gold">★</span><span class="gold">★</span><span class="gold">★</span><span
                        class="gold">★</span>
</span>
            </h6></div>
        <div class="b-pic__links">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Music">
                <i class="fa fa-music" aria-hidden="true"></i>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Bar">
                <i class="fa fa-glass" aria-hidden="true"></i>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Photo">
                <i class="fa fa-camera" aria-hidden="true"></i>
            </a>
        </div>
        <div class="b-pic__check"><i class="fmr fmr-icon-2100 b-pic__check__icon"></i>
            <div class="b-pic__check__title">Average check</div>
            <div class="b-pic__check__amount">100$ - 150$</div>
        </div>
        <a rel="prev" class="b-pic__arrow b-pic__arrow--left" href="#"></a>
        <a rel="next" class="b-pic__arrow b-pic__arrow--right" href="#"></a>
    </section>
    <div class="b-desc container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="b-cont-title">Description</h2>
                <div class="b-desc__links">
                    <div class="b-desc__links__item"><a href="#" class="ab-item"><i class="fa fa-star"
                                                                                    aria-hidden="true"></i> <span>Write a review</span></a>
                    </div>
                    <div class="b-desc__links__item"><a href="#" class="ab-item"><i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> <span>Add to favorites</span></a>
                    </div>
                    <div class="b-desc__links__item"><a href="#" class="ab-item html_popup"><i class="fa fa-share-alt"
                                                                                               aria-hidden="true"></i>
                        <span>Share</span></a>
                    </div>
                </div>
                <div class="b-desc__text">
                    <p>{{ challenge.description }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="b-gmap">
                    <div class="b-map">
                        <div class="b-map__wrapper">
                            <div id="map_place" class="b-gmap-canvas"></div>
                        </div>
                        <div class="b-map__footer"><i class="fa fa-map-marker" aria-hidden="true"></i> 75 Wall st, New
                            York, NY 10005
                        </div>
                    </div>
                </div>
                <div class="b-contact-info clearfix">
                    <div class="b-contact-info__item press--left"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><a
                            href="http://city2.wpmix.net/cdn-cgi/l/email-protection#87eee9e1e8c7e2ffe6eaf7ebe2a9e4e8ea"><span
                            class="__cf_email__" data-cfemail="3d54535b527d58455c504d5158135e5250">[email&#160;protected]</span>
                        <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */
                        !function (t, e, r, n, c, a, p) {
                            try {
                                t = document.currentScript || function () {
                                            for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash'))return t[e]
                                        }();
                                if (t && (c = t.previousSibling)) {
                                    p = t.parentNode;
                                    if (a = c.getAttribute('data-cfemail')) {
                                        for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2);
                                        p.replaceChild(document.createTextNode(decodeURIComponent(e)), c)
                                    }
                                    p.removeChild(t)
                                }
                            } catch (u) {
                            }
                        }()
                        /* ]]> */</script>
                    </a>
                    </div>
                    <div class="b-contact-info__item press--right"><i class="fa fa-mobile" aria-hidden="true"></i><a
                            href="tel:+445762809001">+44 57 6280 9001</a>
                    </div>
                    <div class="b-contact-info__item press--left"><i class="fa fa-clock-o" aria-hidden="true"></i><a
                            href="#">Mon - Sat: 9:30 - 24:00</a>
                    </div>
                    <div class="b-contact-info__item press--right"><i class="fa fa-link" aria-hidden="true"></i><a
                            href="#">link for your site.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-mini-promo b-mini-promo--3 b-parallax lazy" data-type="background" data-speed="8"
         data-src="img/src/banner-8.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <p class="b-mini-promo__icon"><i class="fmr fmr-icon-384"></i>
                    </p>
                    <h4 class="b-mini-promo__title">Live music</h4>
                    <p>Curabitur blandit efficitur magna eu cursus aliquam</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="b-mini-promo__icon"><i class="fmr fmr-icon-2511"></i>
                    </p>
                    <h4 class="b-mini-promo__title">Wi-Fi Zone</h4>
                    <p>Sed eget facilisis eros, in vehicula dictum maximus</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="b-mini-promo__icon"><i class="fmr fmr-icon-3106"></i>
                    </p>
                    <h4 class="b-mini-promo__title">Food Delivery</h4>
                    <p>Vestibulum euismod, vel posuere vulputate, velit mattis</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="b-mini-promo__icon"><i class="fmr fmr-icon-482"></i>
                    </p>
                    <h4 class="b-mini-promo__title">Beauty View</h4>
                    <p>Aliquam diam justo, hendrerit in lacinia condimentum</p>
                </div>
            </div>

        </div>

    </div>









    <div id="gmap_canvas"></div>
    <script>
        main_js = function () {

            'use strict';

                $('.b-slider').addClass('visible');


                var mapOptions_place = {
                    scrollwheel: true,
                    zoom: 14,
                    center: new google.maps.LatLng({{ collection.geoposition }}),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                        position: google.maps.ControlPosition.BOTTOM_CENTER
                    },
                    panControl: false,
                    panControlOptions: {
                        position: google.maps.ControlPosition.TOP_RIGHT
                    },
                    zoomControl: false,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE,
                        position: google.maps.ControlPosition.TOP_RIGHT
                    },
                    scaleControl: false,
                    scaleControlOptions: {
                        position: google.maps.ControlPosition.TOP_LEFT
                    },
                    streetViewControl: false,
                    streetViewControlOptions: {
                        position: google.maps.ControlPosition.LEFT_TOP
                    },
                    styles: [{
                        "featureType": "poi",
                        "stylers": [{"visibility": "off"}]
                    }, {"stylers": [{"saturation": -70}, {"lightness": 37}, {"gamma": 1.15}]}, {
                        "elementType": "labels",
                        "stylers": [{"gamma": 0.26}, {"visibility": "off"}]
                    }, {
                        "featureType": "road",
                        "stylers": [{"lightness": 0}, {"saturation": 0}, {"hue": "#ffffff"}, {"gamma": 0}]
                    }, {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [{"visibility": "off"}]
                    }, {
                        "featureType": "road.arterial",
                        "elementType": "mycity",
                        "stylers": [{"lightness": 20}]
                    }, {
                        "featureType": "road.highway",
                        "elementType": "mycity",
                        "stylers": [{"lightness": 50}, {"saturation": 0}, {"hue": "#ffffff"}]
                    }, {
                        "featureType": "administrative.province",
                        "stylers": [{"visibility": "on"}, {"lightness": -50}]
                    }, {
                        "featureType": "administrative.province",
                        "elementType": "labels.text.stroke",
                        "stylers": [{"visibility": "off"}]
                    }, {
                        "featureType": "administrative.province",
                        "elementType": "labels.text",
                        "stylers": [{"lightness": 20}]
                    }]
                    , styles: MyCity_map_init_obj.global_map_styles
                };
                //map
                var map_place = new google.maps.Map(document.getElementById("map_place"), mapOptions_place);
                //positions
                var point_place = new google.maps.LatLng({{ collection.geoposition }});
                //markers
                // var marker_place = className = 'Cafe';
                var marker_place = new google.maps.Marker({
                    position: point_place,
                    map: map_place,
                    category: '',
                    icon: 'img/map/marker-1.png',
                    title: "point_place"
                });


            //****************************** owlCarousel plugin activate ******************************//
            $(".owl-carousel-1").owlCarousel({
                loop: true
                , margin: 30
                , responsiveClass: true
                , responsive: {
                    0: {
                        items: 1
                        , nav: true
                    }
                    , 600: {
                        items: 2
                        , nav: true
                    }
                    , 1000: {
                        items: 3
                        , nav: true
                        , loop: false
                    }
                }
            });
            //****************************** Lightcase plugin activate ******************************//
            $('a[data-rel^=lightcase]').lightcase();
            $('a[data-rel="lightcase:myCollection:slideshow"]').lightcase({
                showSequenceInfo: false
                , transition: 'scrollHorizontal'
            });
            $('a[data-rel="lightcase:myCollection"]').lightcase({
                showSequenceInfo: false
            });
            $('#example1').lightcase({
                transition: 'none'
            });

            jQuery(document).on('click', '.google_view', function () {
                jQuery('.google_view iframe').css("pointer-events", "auto");
            });

            $(window).scroll(function () {
                $('.google_view iframe').css("pointer-events", "none");
            });

            jQuery(document).on('click', '.b-map__wrapper', function () {
                $('#map_place').css("pointer-events", "auto");
            });

            $(window).scroll(function () {
                $('#map_place').css("pointer-events", "none");
            });

            tooltip();

            $(document).on("click", ".jquery_popup", function () {
                setTimeout(function () {
                    $(".popup .chosen-select-2").chosen({
                        disable_search_threshold: 10,
                        no_results_text: "Oops, nothing found!",
                        width: "100%"
                    });
                }, 50);
            });

            setTimeout(function () {
                var header = $('.place-hold');
                var range = 400;

                $(window).on('scroll', function () {
                    $('.place-hold').css("transition", "none");
                    var scrollTop = $(this).scrollTop();
                    var offset = header.offset().top;
                    var height = header.outerHeight();
                    offset = offset + height / 1.5;
                    var calc = (scrollTop - offset + range) / range;

                    header.css({'opacity': calc});

                    if (calc > '1') {
                        header.css({'opacity': 1});
                    } else if (calc < '0') {
                        header.css({'opacity': 0});
                    }

                });
            }, 1000);
        }
    </script>
</div>






<script>
            main_js = function () {

                'use strict';

                $('.b-slider').addClass('visible');



                var mapOptions_place = {
                    scrollwheel: true,
                    zoom: 14,
                    center: new google.maps.LatLng(43.118593, 131.88088400000004),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                        position: google.maps.ControlPosition.BOTTOM_CENTER
                    },
                    panControl: false,
                    panControlOptions: {
                        position: google.maps.ControlPosition.TOP_RIGHT
                    },
                    zoomControl: false,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE,
                        position: google.maps.ControlPosition.TOP_RIGHT
                    },
                    scaleControl: false,
                    scaleControlOptions: {
                        position: google.maps.ControlPosition.TOP_LEFT
                    },
                    streetViewControl: false,
                    streetViewControlOptions: {
                        position: google.maps.ControlPosition.LEFT_TOP
                    },
                    styles: [{
                        "featureType": "poi",
                        "stylers": [{"visibility": "off"}]
                    }, {"stylers": [{"saturation": -70}, {"lightness": 37}, {"gamma": 1.15}]}, {
                        "elementType": "labels",
                        "stylers": [{"gamma": 0.26}, {"visibility": "off"}]
                    }, {
                        "featureType": "road",
                        "stylers": [{"lightness": 0}, {"saturation": 0}, {"hue": "#ffffff"}, {"gamma": 0}]
                    }, {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [{"visibility": "off"}]
                    }, {
                        "featureType": "road.arterial",
                        "elementType": "mycity",
                        "stylers": [{"lightness": 20}]
                    }, {
                        "featureType": "road.highway",
                        "elementType": "mycity",
                        "stylers": [{"lightness": 50}, {"saturation": 0}, {"hue": "#ffffff"}]
                    }, {
                        "featureType": "administrative.province",
                        "stylers": [{"visibility": "on"}, {"lightness": -50}]
                    }, {
                        "featureType": "administrative.province",
                        "elementType": "labels.text.stroke",
                        "stylers": [{"visibility": "off"}]
                    }, {
                        "featureType": "administrative.province",
                        "elementType": "labels.text",
                        "stylers": [{"lightness": 20}]
                    }]
                    , styles: MyCity_map_init_obj.global_map_styles
                };
                //map
                var map_place = new google.maps.Map(document.getElementById("map_place"), mapOptions_place);
                //positions
                var point_place = new google.maps.LatLng(43.118593, 131.88088400000004);
                //markers
                // var marker_place = className = 'Cafe';
                var marker_place = new google.maps.Marker({
                    position: point_place,
                    map: map_place,
                    category: '',
                    icon: 'img/map/marker-1.png',
                    title: "point_place"
                });


                //****************************** owlCarousel plugin activate ******************************//
                $(".owl-carousel-1").owlCarousel({
                    loop: true
                    , margin: 30
                    , responsiveClass: true
                    , responsive: {
                        0: {
                            items: 1
                            , nav: true
                        }
                        , 600: {
                            items: 2
                            , nav: true
                        }
                        , 1000: {
                            items: 3
                            , nav: true
                            , loop: false
                        }
                    }
                });
                //****************************** Lightcase plugin activate ******************************//
                $('a[data-rel^=lightcase]').lightcase();
                $('a[data-rel="lightcase:myCollection:slideshow"]').lightcase({
                    showSequenceInfo: false
                    , transition: 'scrollHorizontal'
                });
                $('a[data-rel="lightcase:myCollection"]').lightcase({
                    showSequenceInfo: false
                });
                $('#example1').lightcase({
                    transition: 'none'
                });

                jQuery(document).on('click', '.google_view', function(){
                    jQuery('.google_view iframe').css("pointer-events", "auto");
                });

                $(window).scroll(function(){
                    $('.google_view iframe').css("pointer-events", "none");
                });

                jQuery(document).on('click', '.b-map__wrapper', function(){
                    $('#map_place').css("pointer-events", "auto");
                });

                $(window).scroll(function(){
                    $('#map_place').css("pointer-events", "none");
                });

                tooltip();

                $(document).on( "click", ".jquery_popup", function() {
                    setTimeout(function(){
                        $(".popup .chosen-select-2").chosen({
                            disable_search_threshold: 10,
                            no_results_text: "Oops, nothing found!",
                            width: "100%"
                        });
                    }, 50);
                });

                setTimeout(function(){
                    var header = $('.place-hold');
                    var range = 400;

                    $(window).on('scroll', function () {
                        $('.place-hold').css("transition","none");
                        var scrollTop = $(this).scrollTop();
                        var offset = header.offset().top;
                        var height = header.outerHeight();
                        offset = offset + height / 1.5;
                        var calc =  (scrollTop - offset + range) / range;

                        header.css({ 'opacity': calc });

                        if ( calc > '1' ) {
                            header.css({ 'opacity': 1 });
                        } else if ( calc < '0' ) {
                            header.css({ 'opacity': 0 });
                        }

                    });
                },1000);
            }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI_iMtLfLxggW38M7mrcv2-Fq2NKf8ab4"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/jquery.popup.min.js' %}"></script>
<script src="{% static 'js/jssor.slider.mini.js' %}"></script>
<script src="{% static 'js/lightcase.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/compiled_lib.js' %}"></script>
<script src="{% static 'js/custum.js' %}"></script>
<script src="{% static 'js/jquery.custom-scrollbar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">/* <![CDATA[ */
(function (d, s, a, i, j, r, l, m, t) {
    try {
        l = d.getElementsByTagName('a');
        t = d.createElement('textarea');
        for (i = 0; l.length - i; i++) {
            try {
                a = l[i].href;
                s = a.indexOf('/cdn-cgi/l/email-protection');
                m = a.length;
                if (a && s > -1 && m > 28) {
                    j = 28 + s;
                    s = '';
                    if (j < m) {
                        r = '0x' + a.substr(j, 2) | 0;
                        for (j += 2; j < m && a.charAt(j) != 'X'; j += 2)s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                        j++;
                        s = decodeURIComponent(s) + a.substr(j, m - j)
                    }
                    t.innerHTML = s.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                    l[i].href = 'mailto:' + t.value
                }
            } catch (e) {
            }
        }
    } catch (e) {
    }
})(document);

{% endblock %}